# Dependencies
/node_modules

# Log files
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env

#-*-*-*-*-*-*-*-*-*-*-*-
# Operating System Files
#-*-*-*--*-*-*-*-*-*-*-*

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?
.VolumeIcon.icns
.fseventsd

# Linux
*~
.directory
.Trash-*
.nfs* 